@model Car

<img src="@Model.PictureUrl.Replace("wwwroot\\","")" class="card-img-top" style="width:200px; height:auto;" />
<p>@Model.Make @Model.Model</p>
<p>&@Model.Price</p>
<p>@Model.Description</p>
