@model ContactUs

@{
    ViewBag.Title = "Contact Us";
}

<h2>Contact Us</h2>

@using (Html.BeginForm("SubmitForm", "ContactUs", FormMethod.Post))
{
    <div>
        <label for="Name">Name:</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div>
        <label for="Email">Email:</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div>
        <label for="Subject">Subject:</label>
        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
    </div>
    <div>
        <label for="Message">Message:</label>
        @Html.TextBoxFor(m => m.Message, new { @class = "form-control" })
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}